In [1]:
import pandas as pd

In [3]:
pd.read_csv(r"/mnt/raw/scores_for_matt.csv").set_index('Date')

                     Score
Date
2016-07-28 00:10:05  0.358
2016-07-28 00:11:05  0.384
2016-07-28 00:12:05  0.402
2016-07-28 00:13:05  0.410
2016-07-28 00:14:05  0.388
2016-07-28 00:15:05  0.426
2016-07-28 00:16:05  0.420
2016-07-28 00:17:05  0.370
2016-07-28 00:18:05  0.368
2016-07-28 00:19:05  0.370
2016-07-28 00:20:05  0.376
2016-07-28 00:21:05  0.416
2016-07-28 00:22:05  0.458
2016-07-28 00:23:05  0.574
2016-07-28 00:24:05  0.580
2016-07-28 00:25:05  0.528
2016-07-28 00:26:05  0.484
2016-07-28 00:27:05  0.470
2016-07-28 00:28:05  0.424
2016-07-28 00:29:05  0.360
2016-07-28 00:30:05  0.330
2016-07-28 00:31:05  0.254
2016-07-28 00:32:05  0.310
2016-07-28 00:33:05  0.332
2016-07-28 00:34:05  0.360
2016-07-28 00:35:05  0.394
2016-07-28 00:36:05  0.410
2016-07-28 00:37:05  0.402
2016-07-28 00:38:05  0.400
2016-07-28 00:39:05  0.348
...                    ...
2016-07-28 23:30:05  0.356
2016-07-28 23:31:05  0.310
2016-07-28 23:32:05  0.290
2016-07-28 23:33:05  0.284
2016-07-28 23:34:05  0.296
2016-07-28 23:35:05  0.292
2016-07-28 23:36:05  0.272
2016-07-28 23:37:05  0.260
2016-07-28 23:38:05  0.244
2016-07-28 23:39:05  0.264
2016-07-28 23:40:05  0.298
2016-07-28 23:41:05  0.314
2016-07-28 23:42:05  0.358
2016-07-28 23:43:05  0.394
2016-07-28 23:44:05  0.364
2016-07-28 23:45:05  0.358
2016-07-28 23:46:05  0.328
2016-07-28 23:47:05  0.310
2016-07-28 23:48:05  0.302
2016-07-28 23:49:05  0.296
2016-07-28 23:50:05  0.276
2016-07-28 23:51:05  0.318
2016-07-28 23:52:05  0.344
2016-07-28 23:53:05  0.288
2016-07-28 23:54:05  0.268
2016-07-28 23:55:05  0.288
2016-07-28 23:56:05  0.336
2016-07-28 23:57:05  0.414
2016-07-28 23:58:05  0.396
2016-07-28 23:59:05  0.444

[1430 rows x 1 columns]